<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <pipelines>
      <indexing.getDependencies>
        <processor type="Sitecore.SharedSource.DatasourceIndexer.ContentSearch.Pipelines.GetDependencies.GetDatasourceDependencies, Sitecore.SharedSource.DatasourceIndexer"/>
      </indexing.getDependencies>
    </pipelines>
    
    <settings>
      <!-- Enter the indexed device id's (pipe-separated) or leave empty to only use the Default device  -->
      <setting name="Sitecore.SharedSource.DatasourceIndexer:Devices" value="" />
    </settings>

    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration>
          <fields hint="raw:AddComputedIndexField">
            <field fieldName="datasourcescontent" storageType="yes" indexType="tokenized">Sitecore.SharedSource.DatasourceIndexer.ContentSearch.Fields.DatasourceContentIndexField, Sitecore.SharedSource.DatasourceIndexer</field>
          </fields>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
    
  </sitecore>
</configuration>